<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://omap-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>omap-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>omap-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$omap-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OMAPDevContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:r6lkqzkraw.database.windows.net,1433;Initial Catalog=omapdevA6iJeLyyz;User ID=OMAPAdmin@r6lkqzkraw;Password=OMAP@2014" Name="Data Source=tcp:r6lkqzkraw.database.windows.net,1433;Initial Catalog=omapdevA6iJeLyyz;User Id=OMAPAdmin@r6lkqzkraw;Password=OMAP@2014" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OMAPDev.Models.OMAPDevContext, OMAPDev" MigrationConfiguration="OMAPDev.Migrations.Configuration, OMAPDev" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OMAPDevContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:r6lkqzkraw.database.windows.net,1433;Initial Catalog=omapdevA6iJeLyyz;User Id=OMAPAdmin@r6lkqzkraw;Password=OMAP@2014</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>